.box{
    width: 10%;
    aspect-ratio: 1;
    background-color: lightpink;
    border-radius: 50%;

    animation-name: myanim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes myanim {
    from{
            transform: translate(0%);
            
}
to{
       transform: translate(80vw);
       
}
}

