*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../images/mario-bg.png);
    background-size: 100% 100%;
}
img{
    width: 200px;
    position: absolute;
    bottom: 8%;
    animation: myanim 2s ease-in-out 1s infinite;
    -webkit-animation: myanim 2s ease-in-out 1s infinite;
}

@keyframes myanim {
    0%{
        transform: translate(0);
}
100%{
    transform: translate(90vw);
    -webkit-transform: translate(90vw);
    -moz-transform: translate(90vw);
    -ms-transform: translate(90vw);
    -o-transform: translate(90vw);
}
}